body {
    background-color: black;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center center;
}

a {
    color: #5e8eb2;
}

h2 {
    font-size: 24px;
}

.navbar-wrapper {
    margin-top: 20px;
    display: none;
}
footer {
    margin-top: 20px;
    padding: 20px 5px 5px 20px;
    text-align: right;
    font-size: 10px;
}
footer, footer a { color: #999; }

#calendar, #eventlist li {
    background: rgba(255, 255, 255, 0.9);
    max-width: 600px;
    margin-left: 100px;
    border-radius: 8px;
    margin-top: 25px;
}

#calendar {
    padding: 12px;
    padding-top: 10px;
    margin-top: 0;
}

#eventlist {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}
#eventlist li {
    list-style: none;
    overflow: auto;
    margin-top: 10px;
    word-wrap: break-word;
}

#eventlist li iframe {
    width: 100%;
    height: 240px;
}

#eventlist li .daydate {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: block;
    background: #0b3b65;
    color: white;
    float: left;
    text-align: center;
    font-weight: normal;
    margin-right: 12px;
    padding-top: 6px;
    padding-bottom: 8px;
}
#eventlist li .daydate span.day {
    display: block;
    font-size: 22px;
    line-height: 24px;
}
#eventlist li .daydate span.dow {
    line-height: 2px;
    font-size: 8px;
    text-transform: uppercase;
    display: block;
}
#eventlist li .daydate span.month {
    display: block;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
}
#eventlist li time {
    display: block;
}

.eventheader {
    padding: 12px;
    background: rgba(192, 192, 192, 0.5);
}
.eventbody {
}

a.loc, span.desc {
    margin: 12px;
    display: block;
}

a.summary {
    font-weight: bold;
}

span.desc {
    clear: left;
    display: block;
}

a.twitter {
    float: right;
    width: 30px;
    height: 30px;
    margin: 0px 0px 10px 0px;
    text-indent: -1000em;
    background: url(../img/Twitter_Logo_Blue.svg) center center no-repeat;
    background-size: contain;
}

@media (max-width: 600px) {
    body {
        background-image: url(../img/bgtall.jpg);
    }
    #calendar, #eventlist li {
        width: 90%;
        margin-left: 5%;
        border-radius: 8px;
    }
    h1 {
        margin-top: 5px;
    }
    #eventlist {
        margin-bottom: 5px;
    }
    #about h2 { margin-top: 5px; }

    body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
    }

    #calendar {
        order: 3;
        flex: 0 1 auto;
        align-self: auto;
        margin-top: 10px;
    }

    #eventlist {
        order: 2;
        flex: 0 1 auto;
        align-self: auto;
    }

    footer {
        order: 4;
        flex: 0 1 auto;
        align-self: auto;
    }
}


/* Borrowed from talk.birmingham.io */
html{font-family:Tahoma, Geneva, sans-serif}
nav{background-color:#34495e}
.navbar-container{max-width:1110px;margin:0 auto}
.navbar-header{display:inline-block}
.navbar-header img{margin-top:5px}
.navbar-right{float:right !important;margin:0px}
.navbar-nav>li{position:relative;display:block;float:left}
.navbar-nav>li>a{display:block;line-height:5;padding:0px 1em;font-size:1.1em;text-transform:uppercase;transition:all 0.3s linear 0s;color:#FFF}
.navbar-nav>li.active{background-color:#707782}
.navbar-nav>li>a:hover,.navbar-nav>li>a:focus{background-color:#707782}
.navbar-collapse { padding-left:0; padding-right:0 }

@media (max-width: 768px) {
    #birminghamio-logo {
        width: 65%;
    }
    .navbar {
        margin-bottom:5px;
    }
}
